<div class="footer">
    <div class="grid wide">
        <div class="grid__row footer-margin">
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Shopee Blog</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Shopee Mall</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Hướng dẫn bán hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Shopee Xu</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Vận chuyển</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Thanh toán & Hoàn tiền</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Chăm sóc khách hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Chính sách bảo hành</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Về Shopee</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Giới thiệu về Shopee Việt Nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Điều khoản Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Chính sách bảo mật</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Chính sách</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Kênh người bán</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Flash Sales</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Chương trình tiếp thị liên kết Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">Liên hệ với truyền thông</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Thanh toán</h3>
                <ul class="footer__withdraw-list">
                    <li class="footer__withdraw-item">
                        <i class="footer__withdraw-icon fab fa-cc-visa"></i>
                    </li>
                    <li class="footer__withdraw-item">
                        <i class="footer__withdraw-icon fab fa-cc-mastercard"></i>
                    </li>
                    <li class="footer__withdraw-item">
                        <i class="footer__withdraw-icon fab fa-cc-jcb"></i>
                    </li>   
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                <ul class="footer-list footer-list-social">
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__social-icon fab fa-facebook"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__social-icon fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item__link">
                            <i class="footer-item__social-icon fab fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Tải ứng dụng Shopee ngay thôi</h3>
                <div class="footer__download">
                    <a href="#" class="footer__download-qr-link"><img src="../../../assets/images/header/navbar/qrCode.png" alt="QR Code"></a>
                    <div class="footer__download-apps">
                        <a href="#" class="footer__download-social-link"><img src="../../../assets/images/header/navbar/appStore.png" alt="Apple Store"></a>
                        <a href="#" class="footer__download-social-link"><img src="../../../assets/images/header/navbar/googlePlay.png" alt="Google Play"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="extra-info">
            <div class="copyrights">
                <i class="copyrights-icon far fa-copyright"></i>
                <span>2021 Shopee. Tất cả các quyền được bảo lưu</span>
            </div>
            <div class="regions">
                <span>Quốc gia & Khu vực: </span>
                <ul class="regions__list">
                    <li class="regions__item regions__item--separate"><a href="#">Singapore</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Indonesia</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Đài Loan</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Thái Lan</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Malaysia</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Việt Nam</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Philippines</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Brazil</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">México</a></li>
                    <li class="regions__item regions__item--separate"><a href="#">Colombia</a></li>
                    <li class="regions__item"><a href="#">Chile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>