.category {
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__heading {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
    padding-top: 18px;
    padding-bottom: 4px;

}

.category__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 12px 18px 12px 22px;
}

.category__item {
    display: block;
    font-size: 1.3rem;
    padding: 11px 0;
    color: var(--text-color);
    text-decoration: none;
}

.category__item + .category__item {
    border-top: 1px solid rgb(230, 227, 227);
}

.category__item--active {
    color: var(--primary-color); 
    position: relative;
} 

.category__item--active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(calc(-50% - 1px));
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
}
