<div class="app">
  <app-header></app-header>

  <div class="app__container">
    <div class="grid wide">
      <div class="row sm-gutter mobile-content">
        <div class="col l-2 m-0 c-0">
          <app-category></app-category>
        </div>

        <div class="col l-10 m-12 c-12">
          <div class="sort-bar hide-on-mobile-tablet">
            <span class="sort-bar__label">Sắp xếp theo</span>
            <button class="sort-bar__btn btn">Phổ biến</button>
            <button class="sort-bar__btn btn">Mới nhất</button>
            <button class="sort-bar__btn btn btn--primary">Bán chạy</button>
            
            <div class="select-input">
                <span class="select-input__label">Giá</span>
                <i class="select-input__icon fas fa-chevron-down"></i>
                
                <!-- List options -->
                <ul class="selection-input__list">
                    <li class="selection-input__item">
                        <a href="" class="election-input__item-link">Giá: Thấp đến Cao</a>
                    </li>
                    <li class="selection-input__item">
                        <a href="" class="election-input__item-link">Giá: Cao đến Thấp</a>
                    </li>
                </ul>
            </div>

            <div class="sort-bar__control">
                <span class="sort-bar__control-state">
                    <span class="sort-bar__control-page-current">1</span>/2
                </span>
                <div class="sort-bar__control-btn">
                    <a href="#" class="sort-bar__control-btn-link sort-bar__control-btn-link--disable"><i class="sort-bar__control-icon fas fa-chevron-left"></i></a>
                    <a href="#" class="sort-bar__control-btn-link"><i class="sort-bar__control-icon fas fa-chevron-right"></i></a>
                </div>
            </div>

          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>